.details {
	.back-link {
		float: right;
		margin: 0 0 10px 10px;
	}
	
	.item-meta {
		margin-bottom: 15px;

		div {
			display: inline-block;
			margin-right: 1em;
		}
	}
	
	.description {
		//most of the description contents are redundant so hide them
		p {
			display: none;
		}
		//if there are three p tags, the last one contains a description so show it
		p:nth-of-type(3) {
			display: block;
		}
		
		margin-bottom: 15px;
	}
	
	.tags {
		.tags-label {
			display: inline-block;
			color: black;
			margin-bottom: 10px;
		}
		
		ul {
			padding-left: 0;
		}
	}
	
}