@import "listing";
@import "details";
@import "tags";

html, body {
	height: 100%;
}

body {
	padding: 20px 40px;
	display: flex;
	flex-direction: column;
	
	header {
		height: 70px;
	}
	
	main {
		flex-grow: 1;
		overflow-y: auto;
	}
}

@media only screen and (min-device-width: 800px) {

	.item-date {
		display: inline-block;
	}
	
	.item-author {
		float: left;
	}
}