<div class="details media">
	<div>
		<div class="back-link"><a href="#/list">Back</a></div>
		<h2 class="item-title"><a href="{{item.link}}">{{item.title}}</a></h2>
	</div>
	
	<div class="item-meta">
		<div class="item-author"><a href="https://www.flickr.com/photos/{{item.author_id}}">{{item.author | extractName}}</a></div>
		<div class="item-date">Published: {{item.published | formatDate}}</div>
	</div>
	<div class="media-left">
		<a href="{{item.link}}">
			<img ng-src="{{item.media.m}}" alt="{{item.title}}">
		</a>
	</div>
	<div class="media-body">
		<div class="description" ng-bind-html="item.description"></div>
		<div class="tags">
			<div class="label">Tags:</div>
			<ul>
				<li ng-repeat="tag in item.tags">
					<a href="https://www.flickr.com/photos/tags/{{tag}}">{{tag}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>