<ul class="listing" ng-cloak="true">
	<li ng-repeat="item in items | filter: {tags: query} as results">
		<div class="thumb">
			<a href="#/details/{{items.indexOf(item)}}">
				<img ng-src="{{item.media.m}}" alt="{{item.title}}">
			</a>
		</div>
		<div class="thumb-desc">
			<h4 class="item-title"><a href="#/details/{{items.indexOf(item)}}">{{item.title}}</a></h4>
			<div class="item-date">Published: {{item.published | formatDate}}</div>
			<div class="item-author"><a href="https://www.flickr.com/photos/{{item.author_id}}">{{item.author | extractName}}</a></div>
			<div class="item-link"><a href="{{item.link}}">View on Flickr</a></div>
		</div>
	</li>
	<li class="no-match" ng-hide="results.length">
		There are no images matching those tags
	</li>
</ul>